.holder {
display: flex;
flex-wrap: wrap;
}

.item {
    height: 100px;
    flex-grow: 1;
    font-size: 50px;
   text-align: center; 
 }
 .holder :nth-child(1) {
    background-color: salmon;
    flex-grow: 2;
    border-radius: 25px 0 0 0;
    flex-basis: calc(100% / 2);
    order: -3;

 }

 .holder :nth-child(2) {
    background-color: royalblue;
    order: 0;
     }

     .holder :nth-child(3) {
        background-color: purple;
        order: -1;
         }

         .holder :nth-child(4) {
            background-color:green;
            order: 1;
             }

             .holder :nth-child(5) {
                background-color:orange;
                flex-grow: 2;
                border-radius: 0 25px 0 0;
                flex-basis: calc(100% / 2);
                order: -2;
                 }
